@using JGLB.Website.Data
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<Appbar Fixed ScrollHide>
    <Tab Id="app-tab" BGColor="Color.Theme" Class="@Ripple.Color(Color.White)" Centered>
        @foreach (var nav in _Navs)
        {
            <NavLink href="@nav?.RouteUrl" class="mdui-ripple" ActiveClass="mdui-tab-active" Match="NavLinkMatch.All">
                <Icon>@nav?.Icon</Icon><label>@nav?.Name</label>
            </NavLink>
        }
    </Tab>
</Appbar>

@code {
    /// <summary>
    /// 导航，暂时写死
    /// </summary>
    private List<Nav> _Navs;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _Navs = Configuration.GetSection("WebSite:Nav").Get<List<Nav>>();
    }
}
