@page "/"
@inject IConfiguration Configuration

<MyPageTitle>极光萝卜</MyPageTitle>

<Div >
    <img src="/image/avatar.jpg" class="mdui-center" style="max-width:250px;border-radius:50%;border:2px solid #ccc;">
    <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">极光萝卜</Heading>
    <Paragraph TextAlignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
        @foreach (var link in _MyLink)
        {
            <Tooltip Text="@link.Name">
                <Button Type="ButtonType.Link" To="@link.Url" Target="Target.Blank" Margin="Margin.Is1.FromTop.Is1.FromEnd"><i><svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="@link.SvgPath" fill="#ffffff"></path></svg></i></Button>
            </Tooltip>
        }
    </Paragraph>
</Div>

@code {
    private List<MyLink> _MyLink;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _MyLink = Configuration.GetSection("WebSite:Index:MyLinks").Get<List<MyLink>>();
    }

    protected class MyLink
    {
        public string Name { get; set; }
        public string Url { get; set; }
        public string SvgPath { get; set; }
    }
}