::deep .mdui-card-header .mdui-icon {
    font-size: 40px;
}

::deep .mdui-card-header {
    padding: 8px;
    padding-bottom: 1px;
    height: 50px;
}

::deep .mdui-card-content {
    padding: 8px;
    padding-top: 1px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

::deep .mdui-card-content p {
        line-height: 9px;
}

::deep .mdui-card-content .row {
        display: flex;
        margin-top: 2px;
}

::deep .mdui-card-content .title {
        width: 25%;
}

::deep .mdui-card-content .content {
        width: 75%;
}

::deep .mdui-progress {
    height: 24px;
}

::deep .mdui-progress-determinate .progress {
    position: fixed;
}
